{% extends "layout.html" %}
{% block content %}

    <h1>Hello There</h1>

    <div>
        <h2>Device Info</h2>
        {% for device in devices %}
            <br>
            <div>
                <h3>Device name: {{ device.name }}</h3>

                <p>Armed status: {{ device.is_armed }}</p>

                <a href="{{ url_for('update_device_pwd', device_id = device.id) }}">Change Unlock Password</a>
            </div>
        {% endfor %}

        {% if not devices %}
            <br>
            <h3>No devices found</h3>
            <p>Use your api key when setting up a device so it shows here</p>
        {% endif %}
        
    </div>

{% endblock %}