{% extends "base_simple.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}

    {% if messages %}

        <ul style="height: 30px; background-color: rgba(76, 194, 76, 0.5); list-style: none; color: green; border-radius: 30px;">
            {% for message in messages%}
                <li style="position: relative; top: 2px">{{message}}</li>
            {% endfor %}
        </ul>

    {% endif %}

{% endwith %}

<link rel="stylesheet" href="../static/login.css" type="text/css">

    {% if form.errors %}

        <ul style="color: red;">
            {% for error, message in form.errors.items() %}
                <li>{{message[0]}}</li>
            {% endfor %}
        </ul>

    {% endif %}

    {% if error != None %}

        <ul style="color: red;">
            <li>{{error}}</li>
        </ul>

    {% endif %}

    <form method="POST" action="" id="login_box">
        
        <h1>Log In</h1>
        
        {{form.csrf_token}}
        
        {{form.email.label}} {{form.email}}
        
        {{form.password.label}} {{form.password}}
        
        <input type="submit" value="Submit">

    </form>
    <center>

        <p>Don't have an account?</p>
        
        <a href="{{url_for('register')}}">
            <button>Register</button>
        </a>
    </center>
    



{% endblock %}