{% extends "layout.html" %}
{% block content %}
    <div class="centre">
        <h1>Update {{ device.name }}</h1>
    </div>

    <div class="note">
        <p>You can only use numbers 1, 2, 3, 4 and 5 to make your password</p>
    </div>

    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <div>
                    {{ form.password.label() }}
                
                    <br>
                
                    {% if form.password.errors %}
                        {{ form.password()}}
                        <div>
                            {% for error in form.password.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}                        
                        {{ form.password() }}
                    {% endif %}
                </div>

            <br>
            
            <div>
                {{ form.submit( class='btn' ) }}
            </div>
        </form>
    </div>

{% endblock content %}